#
# Serial flasher config
#
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
# end of Serial flasher config

#
# Partition Table
#
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
# end of Partition Table

#
# ESP32S2-specific
#
CONFIG_ESP32S2_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32S2_DEFAULT_CPU_FREQ_MHZ=240
# end of ESP32S2-specific

#
# FreeRTOS
#
CONFIG_FREERTOS_HZ=1000
# end of FreeRTOS

#
# Application Configuration
#
CONFIG_APP_WIFI_STA_SSID="test"
CONFIG_APP_WIFI_STA_PASS="orcobebe"
CONFIG_APP_WIFI_AP_SSID="file_server"
CONFIG_APP_WIFI_AP_MAX_CONN=3
CONFIG_APP_MQTT_HOST="192.168.1.127"
CONFIG_APP_MQTT_PORT=1883
CONFIG_APP_MQTT_INPUT_TOPIC="data/app"
CONFIG_APP_MQTT_OUTPUT_TOPIC="data/node"
# end of Application Configuration